@charset "UTF-8";

h1,div{
    color: rgb(199, 199, 202);
    text-align: center;
}

ul{
    list-style: none;
}

body{
    background-color: rgb(44, 44, 44);
}

p{
    color: aliceblue;
    text-align: center;
    font-size: 25pt;
}

a{
    color: rgb(141, 141, 199);
}