body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgba(60, 61, 61, 0.568);
    padding: 0px;
    box-shadow: 2px 3px 8px rgba(1px 2px 3px rgba(0, 0, 0, 0.466));
}

nav>a {
    text-decoration: none;
    color: white;
    font-size: bold;
    margin-right: 15px;
    padding: 5px;
}

nav>a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px 0px;
    box-shadow: 1px 2px 4px 2px rgb(0 0 0 / 49%);
}

article {
    background-color: lightgray;
    padding: 5px;
}

article#artigo1 {
    border-radius: 15px 0px;
}

article>aside {
    background-color: rgba(51, 49, 49, 0.479);
    border-radius: 25px;
}

article#artigo2 {
    margin-top: 15px;
    background-color: lightgray;
    border-radius: 15px 0px;
}

aside#autor>p {
    margin: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

footer>p {
    margin: 0px;
}

/* div#bola {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 100%;
    margin: 10px;
} */